<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>secondString</key>
	<string>&apos;</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*.*\(.*\)\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
	<string>mat2</string>
		<string>#version</string>
		<string>#extension</string>
		<string>#include</string>
		<string>#define</string>
		<string>#undef</string>
		<string>#error</string>
		<string>#ifdef</string>
		<string>#ifndef</string>
		<string>#endif</string>
		<string>#else</string>
		<string>#elif</string>
		<string>#line</string>
		<string>#pragma</string>
		<string>__LINE__</string>
		<string>__FILE__</string>
		<string>__VERSION__</string>
		<string>void</string>
		<string>bool</string>
		<string>int</string>
		<string>uint</string>
		<string>float</string>
		<string>double</string>
		<string>vec3</string>
		<string>vec3</string>
		<string>vec4</string>
		<string>dvec2</string>
		<string>dvec3</string>
		<string>dvec4</string>
		<string>bvec2</string>
		<string>bvec3</string>
		<string>bvec4</string>
		<string>ivec2</string>
		<string>ivec3</string>
		<string>ivec4</string>
		<string>uvec2</string>
		<string>uvec3</string>
		<string>uvec4</string>
		<string>mat2</string>
		<string>mat3</string>
		<string>mat4</string>
		<string>mat2x2</string>
		<string>mat2x3</string>
		<string>mat2x4</string>
		<string>mat3x2</string>
		<string>mat3x3</string>
		<string>mat3x4</string>
		<string>mat4x2</string>
		<string>mat4x3</string>
		<string>mat4x4</string>
		<string>dmat2</string>
		<string>dmat3</string>
		<string>dmat4</string>
		<string>dmat2x2</string>
		<string>dmat2x3</string>
		<string>dmat2x4</string>
		<string>dmat3x2</string>
		<string>dmat3x3</string>
		<string>dmat3x4</string>
		<string>dmat4x2</string>
		<string>dmat4x3</string>
		<string>dmat4x4</string>
		<string>sampler1D</string>
		<string>sampler2D</string>
		<string>sampler3D</string>
		<string>samplerCube</string>
		<string>sampler2DRect</string>
		<string>sampler1DShadow</string>
		<string>sampler2DShadow</string>
		<string>sampler2DRectShadow</string>
		<string>sampler1DArray</string>
		<string>sampler2DArray</string>
		<string>sampler1DArrayShadow</string>
		<string>sampler2DArrayShadow</string>
		<string>samplerBuffer</string>
		<string>sampler2DMS</string>
		<string>sampler2DMSArray</string>
		<string>samplerCubeArray</string>
		<string>samplerCubeArrayShadow</string>
		<string>isampler1D</string>
		<string>isampler2D</string>
		<string>isampler3D</string>
		<string>isamplerCube</string>
		<string>isampler2DRect</string>
		<string>isampler1DArray</string>
		<string>isampler2DArray</string>
		<string>isamplerBuffer</string>
		<string>isampler2DMS</string>
		<string>isampler2DMSArray</string>
		<string>isamplerCubeArray</string>
		<string>usampler1D</string>
		<string>usampler2D</string>
		<string>usampler3D</string>
		<string>usamplerCube</string>
		<string>usampler2DRect</string>
		<string>usampler1DArray</string>
		<string>usampler2DArray</string>
		<string>usamplerBuffer</string>
		<string>usampler2DMS</string>
		<string>usampler2DMSArray</string>
		<string>usamplerCubeArray</string>
		<string>discard</string>
		<string>subroutine</string>
		<string>break</string>
		<string>continue</string>
		<string>do</string>
		<string>else</string>
		<string>for</string>
		<string>if</string>
		<string>return</string>
		<string>while</string>
		<string>near</string>
		<string>true</string>
		<string>false</string>
		<string>const</string>
		<string>in</string>
		<string>out</string>
		<string>inout</string>
		<string>centroid</string>
		<string>sample</string>
		<string>attribute</string>
		<string>uniform</string>
		<string>varying</string>
		<string>patch</string>
		<string>location</string>
		<string>invariant</string>
		<string>smooth</string>
		<string>flat</string>
		<string>noperspective</string>
		<string>precise</string>
		<string>gl_VertexID</string>
		<string>gl_InstanceID</string>
		<string>gl_PerVertex</string>
		<string>gl_Position</string>
		<string>gl_PointSIze</string>
		<string>gl_ClipDistance</string>
		<string>gl_in</string>
		<string>gl_PatchVerticesIn</string>
		<string>gl_PrimitiveID</string>
		<string>gl_InvocationID</string>
		<string>gl_out</string>
		<string>gl_TessLevelOuter</string>
		<string>gl_TessLevelInnder</string>
		<string>gl_TessCoord</string>
		<string>gl_PrimitiveIDIn</string>
		<string>gl_Layer</string>
		<string>gl_ViewportIndex</string>
		<string>gl_FragCoord</string>
		<string>gl_FrontFacing</string>
		<string>gl_PointCoord</string>
		<string>gl_SampleID</string>
		<string>gl_SamplePosition</string>
		<string>gl_FragColor</string>
		<string>gl_FragData</string>
		<string>gl_FragDepth</string>
		<string>gl_SampleMask</string>
		<string>gl_MaxTextureUnits</string>
		<string>gl_MaxTextureCoords</string>
		<string>gl_MaxClipPlanes</string>
		<string>gl_MaxVertexAttribs</string>
		<string>gl_MaxVertexUniformComponents</string>
		<string>gl_MaxVertexOutputComponents</string>
		<string>gl_MaxGeometryInputComponents</string>
		<string>gl_MaxGeometryOutputComponents</string>
		<string>gl_MaxFragmentInputComponents</string>
		<string>gl_MaxVertexTextureImageUnits</string>
		<string>gl_MaxTextureImageUnits</string>
		<string>gl_MaxCombinedTextureImageUnits</string>
		<string>gl_MaxFragmentUniformComponents</string>
		<string>gl_MaxDrawBuffers</string>
		<string>gl_MaxClipDistances</string>
		<string>gl_MaxGeometryTextureImageUnits</string>
		<string>gl_MaxGeometryOutputVertices</string>
		<string>gl_MaxGeometryTotalOutputComponents</string>
		<string>gl_MaxGeometryUniformComponents</string>
		<string>gl_MaxGeometryVaryingComponents</string>
		<string>gl_MaxTessControlInputComponents</string>
		<string>gl_MaxTessControlOutputComponents</string>
		<string>gl_MaxTessControlTextureImageUnits</string>
		<string>gl_MaxTessControlUniformComponents</string>
		<string>gl_MaxTessControlTotalOutputComponents</string>
		<string>gl_MaxTessEvaluationInputComponents</string>
		<string>gl_MaxTessEvaluationOutputComponents</string>
		<string>gl_MaxTessEvaluationTextureImageUnits</string>
		<string>gl_MaxTessEvaluationUniformComponents</string>
		<string>gl_MaxTessPatchComponents</string>
		<string>gl_MaxPatchVertices</string>
		<string>gl_MaxTessGenLevel</string>
		<string>gl_MaxViewports</string>
		<string>gl_MaxVertexUniformVectors</string>
		<string>gl_MaxFragmentUniformVectors</string>
		<string>gl_MaxVaryingVectors</string>
	</array>
	<key>autocompleteWords</key>
	<array/>
</dict>
</plist>
